<!doctype html>
<html>
  <head>
    <title>Vowel Chart</title>
  </head>
  <body>
    <textarea id="swinebouk-input" style="width: 100%; height: 100px">
vowels:
  - {front: 12, close: 12, round: false, label: 'i'}
  - {front: 12, close: 12, round: true, x-sampa: 'y'}
  - {front: 12, close: 8, round: false, x-sampa: 'e'}
  - {front: 12, close: 5, round: false, x-sampa: 'E'}
  - {front: 12, close: 1, round: false, x-sampa: 'a'}
  - {front: 1, close: 1, round: true, x-sampa: 'A'}
  - {front: 1, close: 5, round: true, x-sampa: 'O'}
  - {front: 1, close: 8, round: true, x-sampa: 'o'}
  - {front: 1, close: 12, round: true, x-sampa: 'u'}
  - {front: 7, close: 7, round: false, x-sampa: '@'}
    </textarea>
    <!-- <svg id="svg-output" viewbox="-4 -3 4 3" height="auto" width="100%"> -->
    <!-- </svg> -->
  </body>
</html>
