<!doctype html>
<html>
  <head>
    <title>Getting Started</title>
  </head>
  <body>
    <textarea id="swinebouk-input" style="width: 100%; height: 100px">
vowels:
  - {front: 1, close: 1, round: false, label: 'i'}
  - {front: 1, close: 1, round: true, x-sampa: 'y'}
  - {front: 1, close: 0.666, round: false, x-sampa: 'e'}
  - {front: 1, close: 0.333, round: false, x-sampa: 'E'}
  - {front: 1, close: 0, round: false, x-sampa: 'a'}
  - {front: 0, close: 0, round: true, x-sampa: 'A'}
  - {front: 0, close: 0.333, round: true, x-sampa: 'O'}
  - {front: 0, close: 0.666, round: true, x-sampa: 'o'}
  - {front: 0, close: 1, round: true, x-sampa: 'u'}
  - {front: 0.5, close: 0.5, round: false, x-sampa: '@'}
    </textarea>
    <!-- <svg id="svg-output" viewbox="-4 -3 4 3" height="auto" width="100%"> -->
    <!-- </svg> -->
  </body>
</html>
